.informacoes > h4 {
  color: #4f51c0;
}

.informacoes-inputs {
  display: flex;
  flex-direction: column;
}

.informacoes-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 14px;

  label {
    margin-bottom: 10px;
  }

  .p-button-icon-only {
    background-color: #4f51c0;
  }

  .p-calendar {
    min-width: 230px;

    input {
      min-width: 180px;
    }
  }
  input {
    min-width: 230px;
  }
}
