.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-header-color);
  height: 100vh;
  color: var(--background-header-title-color);
}

header {
  padding: 20px;
  border-radius: 180px 0px 0px 0px;
}

.header-theme {
  display: flex;
  justify-content: space-between;
}

.body {
  justify-content: center;
  display: flex;
  height: 100%;
}

.p-card {
  width: 100%;
  border-radius: 180px 0px 0px 0px;
  background-color: var(--background-body-color);
}

.forms {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mensagem-erro {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 20px;
  color: var(--background-mensagem-erro-color);
}

.button-simular {
  width: 100%;
  justify-content: center;
  display: flex;

  button {
    background-color: #4f51c0;
  }
}

@media screen and (max-width: 880px) {
  .forms {
    flex-direction: column;
  }

  .p-card-body {
    padding: 40px 120px;
  }
}

@media screen and (max-width: 620px) {
  .p-card-body {
    padding: 40px 80px;
  }
}

:root {
  --background-header-color: #fee9ce;
  --background-header-title-color: #595148;
  --background-body-color: #fff;
  --background-mensagem-erro-color: #bd0c0c;
  --background-primary-color: #4f51c0;
  --background-label-color: #4b5563;

}

[data-theme="dark"] {
  --background-header-color: #122f5c;
  --background-header-title-color: #d6e3f8;
  --background-body-color: #204070;
  --background-mensagem-erro-color: var(--background-primary-color);
  --background-primary-color: #e7cb28;
  --background-label-color: #fff;
}
